<mat-card class="card">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <form class="form">
        <mat-card-header>
            <mat-card-title>People list</mat-card-title>
            <div class="right">
                <span *ngIf="updatePressed">{{ count }}</span>
                <button type="button" mat-button (click)="update()" [disabled]="updatePressed">Update</button>
            </div>
        </mat-card-header>
        <br>
        <mat-card-content class="card-content">
            <ng-container *ngIf="peopleList && peopleList?.Items?.length">
                <ng-container *ngFor="let item of peopleList.Items">
                    <mat-card class="group-card overflow" (click)="startConversation(item)" [ngClass]="{
                        companion: isCompanion(item),
                        'companion-dark': isCompanion(item) && isDark
                        }">
                        <span>{{ item.name.S }}</span>                        
                    </mat-card>
                </ng-container>
            </ng-container>
        </mat-card-content>
    </form>
</mat-card>